---
import ProfileImage from '../assets/images/puma-placeholder.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('July 29 2025')}
	heroImage={ProfileImage}
>
	<p>Hi! 👋 My name is Raúl Del Valle Lima.</p>
	<p>I am a curious developer with experience in Automation, IoT, Web Development, and DevOps practices.</p>
	<p>Always eager to learn and grow.</p>
</Layout>
